<%- include('../common/head.ejs') %>

<%- include('../common/header.ejs') %>

<main class="container">
  <div class="box">
    <img class="img-mockups" src="<%= uri %>/images/illustration-mockups.svg" alt="Hero Image" />
  </div>
  <div class="box">
    <h1>Wecolme to my template api</h1>
            <p>
                This service provides a comprehensive solution for sending emails effortlessly to recipients at any
                given time. With its versatile functionality, it allows for the automation of various responses such as
                auto-replies and thank-you messages. Additionally, it streamlines communication processes by offering
                customizable templates and scheduling options. Users can easily tailor their messages and ensure timely
                delivery to meet their specific needs. Overall, this service enhances efficiency and effectiveness in
                email correspondence for various purposes.
            </p>
            <a href="https://njmtech.vercel.app/" target="_blank">
                <button class="button-register">
                    Official website
                </button>
            </a>
  </div>
</main>

<%- include('../common/footer.ejs') %>

