<%- include('../common/head.ejs') %>

<%- include('../common/header.ejs') %>

<main class="container">
  <div class="box">
    <img class="img-mockups" src="https://res.cloudinary.com/dfta3fn6p/image/upload/v1676064204/public/images/img/contact-img_mgofi2.svg" alt="Hero Image" />
  </div>
  <div class="box">
    <h1>Thank you!</h1>
    <p>
        Thank you so much for your kind words! It truly means a lot to me. I'm delighted and glad that you reached out to me.
        Once again, thank you for taking the time to express your appreciation. It's sincerely appreciated.
    </p> 
    <p>
      Warm regards,
    </p>    
    <p>
      Nhlanhla Malaza
    </p>
    <a href="https://njmtech.vercel.app/" target="_blank">
      <button class="button-register">
        Official website
      </button>
    </a>
  </div>
</main>

<%- include('../common/footer.ejs') %>

