    <footer>
      <div class="social-icon">
        <a class="icon-container" href="https://www.linkedin.com/in/njmalaza" target="_blank" rel="noreferrer">
          <i class="bi bi-linkedin"></i>
        </a>
        <a href="https://www.instagram.com/nhlanhlamalaza_" target="_blank" rel="noreferrer">
          <i class="bi bi-instagram"></i>
        </a>
        <a href="https://github.com/omoinjm" target="_blank" rel="noreferrer">
          <i class="bi bi-github"></i>
        </a>
      </div>
    </footer>

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/703df85e26.js" crossorigin="anonymous"></script>

    <!-- bootstrap email -->
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>

  </body>
</html>
