
<footer>
        <div class="social-icon">
            <a href="https://www.facebook.com/" target="_blank" rel="noreferrer">
                <img src="https://res.cloudinary.com/dfta3fn6p/image/upload/v1676064213/public/logo/nav-icon2_j3cdqp.svg"
                    alt="Facebook" />
            </a>
            <a href="https://www.instagram.com/nhlanhlamalaza_" target="_blank" rel="noreferrer">
                <img src="https://res.cloudinary.com/dfta3fn6p/image/upload/v1676064213/public/logo/nav-icon3_k4zon2.svg"
                    alt="Instagram" />
            </a>
            <a href="https://www.linkedin.com/in/njmalaza" target="_blank" rel="noreferrer">
                <img src="https://res.cloudinary.com/dfta3fn6p/image/upload/v1676064212/public/logo/nav-icon1_dx8dcr.svg"
                    alt="LinkedIn" />
            </a>
        </div>
    </footer>
  </body>
</html>
