<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <!-- tab icon -->
    <link rel="icon" type="image/png" sizes="32x32" href="https://res.cloudinary.com/dfta3fn6p/image/upload/v1676064193/public/favicon_zqeo1n.ico" />

    <!-- css stylesheets -->
    <link rel="stylesheet" href="<%= style %>" />

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=open+sans&family=poppins:wght@400;600&display=swap" rel="stylesheet" />

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/703df85e26.js" crossorigin="anonymous"></script>

    <title>
      <%= title %>
    </title>
</head>

